<div class="page-intro-text">
    <translate>Welcome to the <b>Ongoing Control Assessment</b>. Please select the Ongoing Control Assessment task below that you want to view or work on.</translate>
    <b ng-if="archivedTasks" translate>You are viewing the OCA task archive.</b>
</div>

<div class="error" ng-if="errMessage" >{{errMessage | translate}}</div>

<div class="loadingIndicator" style="width: 1200px; height: 500px;" ng-show="loading" translate>Loading OCA tasks...</div>

<div ui-grid="taskListGridOptions" class="tasksListGrid" ui-grid-resize-columns ui-grid-auto-resize></div>

