<p class="page-intro-text" translate>Welcome to our <b>Ongoing Risk Assessment</b>. Please navigate our audit universe below to access our risk dashboards.</p>


<script type="text/ng-template"  id="tree_item_renderer.html">

  <div ng-class="[ 'tree-element', 'tree-element-' + (data.active ? 'active' : 'inactive') ]">
    <a ui-sref="tree.dashboard({id: data.id})" ng-if="data.hasDashboard">{{data.title}}</a>
    <span ng-if="!data.hasDashboard">{{data.title}}</span>
  </div>

  <ul>
    <li ng-repeat="data in data.nodes | filter:filterActive" ng-include="'tree_item_renderer.html'"></li>
  </ul>
</script>


<div class="error-message" ng-show="errMessage" >{{errMessage | translate}}</div>

<div class="loadingIndicator" height="300px" width="500px" ng-show="loading"></div>

<ul class="tree" ng-show="!loading && !errMessage">
  <li ng-repeat="data in tree | filter:filterActive" ng-include="'tree_item_renderer.html'"></li>
</ul>

<label class="tree-toggle"><input type="checkbox" ng-model="onlyActive"> <span translate>Show only active nodes</span></label>
