<div class="audit-form-dialog">
    <audit-form audit-form-key="ngDialogData.auditFormData.auditForm"
                audit-form-data="ngDialogData.auditFormData"
                read-only="ngDialogData.readOnly"
                workflow-rule="ngDialogData.workflowRule"
                on-change="ngDialogData.onChange"
                on-delete="ngDialogData.onDelete"
		auto-save="ngDialogData.autoSave"
		close-callback="closeThisDialog"></audit-form>
</div>
