<div class="audit-form-icons">
    <div ng-if="isLoading" class="loadingIndicatorSmall" style="width: 16px; height: 16px;"></div>

    <div ng-if="!isLoading">
        <img ng-repeat="el in auditFormData track by el.id"
             ng-src="{{ (auditForms[el.auditForm].iconMap[el.result] ? auditForms[el.auditForm].iconMap[el.result] : auditForms[el.auditForm].newFormIcon) }}"
             ng-class="{'audit-form-icons-icon': true, 'audit-form-icons-here': (sourceTaskId && sourceElement &&
                                                                                 el.createdInTask == sourceTaskId &&
                                                                                 el.archivedTask == sourceTaskArchived &&
                                                                                 el.createdInElement == sourceElement )}"
             title="{{auditForms[el.auditForm].title}} ({{el.result}})"
             ng-click="openAuditForm(el)">



        <i class="fa fa-plus-circle icon-as-button" ng-if="newFormTypes && newFormTypes.length > 0"
                                                    ng-click="newAuditForm()"></i>
    </div>
</div>