<div class="audit-form-picker">
    <h2 translate>Add new Audit Form</h2>

    <ul>
        <li ng-repeat="formSpec in ngDialogData.newFormSpecs track by formSpec.shortKey" ng-click="ngDialogData.newAuditFormOfType(formSpec.shortKey)">
            <img ng-src="{{ formSpec.newFormIcon }}">
            {{formSpec.title}}
        </li>
    </ul>
</div>

