<div class="chart-slider portfolio-chart-slider">
    <span>{{ availableTime[selectedTimeIndex] | date : 'yyyy-MM-dd' }}</span>
    <input type="range" min="0" max="{{ availableTime.length-1 }}" step="1" value="{{ availableTime.length -1 }}" ng-model="selectedTimeIndex">
    <i class="fa fa-play icon-as-button" title="{{ 'Animate over time / increase speed' | translate }}" ng-click="startAnimation()"></i>
    <i class="fa fa-stop icon-as-button" title="{{ 'Stop animation' | translate }}" ng-click="stopAnimation()" ng-show="animationSpeed"></i>
</div>
