<div class="chart-slider timeseries-slider">
    <span ng-show="movingAverageElements > 1" translate>{{movingAverageElements}}-points moving average</span><br>
    <input type="range" min="1" max="{{maxMovingAverage}}" step="1" value="1" ng-model="movingAverageElements">
</div>
