<div class="dashboard-notes dashboard-notes-viewer">
    <div class="loadingIndicator" ng-show="notesAreLoading" translate>
        Loading notes...
    </div>

    <ul class="dashboard-notes-list">
        <li ng-repeat="note in notes track by note.id" ng-class="['dashboard-notes-element', 'dashboard-notes-' + note.noteStatus]">
            <div>
                <div class="dashboard-notes-text" ng-bind-html="note.noteText">
                </div>

                <div ng-if="note.attachments.length > 0" class="ng-attachments">
                    <translate>Attachments</translate>:
                    <ul>
                        <li ng-repeat="attachment in note.attachments | orderBy: 'name'">
                            <a href="{{attachment.link}}" target="_blank">{{attachment.name}}</a>
                        </li>
                    </ul>
                </div>

                <div class="dashboard-notes-signature"><a ng-href="#{{note.sourceLink}}%2F{{note.id}}" ng-if="note.sourceLink" translate>Jump to source.</a> <translate>Keywords</translate>: <keywords-list keywords="note.keywords" enable-eye="true"></keywords-list>. {{note.noteStatus | translate}}. <translate>Last modified by {{note.lastAuthor}} at
                    {{note.lastModifiedDate | date: 'yyyy-MM-dd HH:mm'}}.</translate>
                </div>

                <div class="dashboard-notes-interactions">
                  <interaction-buttons target-type="note"
                                       target-id="note.id"
                                       target-description="makeNoteIntro(note)"
                                       source-url="'#' + sourceLink + '%2F' + note.id"
                                       interaction-summary="note.interactionSummary">
                </div>                
            </div>
        </li>
    </ul>
</div>
