<div class="news-feed">
    <div class="error" ng-if="errMessage" >{{errMessage | translate}}</div>

    <div ng-repeat="group in newsfeedGroups track by group.group">
        <h2>{{ group.group | translate }}</h2>

        <div class="news-feed-element" ng-repeat="entry in group.entries track by entry.id">
            <dashboard-news-feed-element item="entry" remove-sub-callback="removeSubCallback"></dashboard-news-feed-element>
        </div>
    </div>


    <div class="news-feed-loading loadingIndicator" ng-if="isLoading">
    </div>

    <div class="news-feed-more" ng-if="allowMore && hasMore && !isLoading">
        <button ng-click="loadMore()" translate>Load more</button>
    </div>
</div>
