<div class="impact-viewer">
    <div class="impact-flag" ng-repeat="impact in impacts track by impact.id">
        <img class="impact-icon impact-icon-tiny click-link" title="{{ 'Show relevant impacts' | translate }}" ng-src="assets/impact_{{impact.impactType}}.png" ng-click="showImpacts(impact.impactType)">
    </div>
</div>