<div class="impact-viewer">
    <div class="impact-flag" ng-repeat="impact in impacts track by impact.id">
        <img class="impact-icon impact-icon-tiny" ng-src="assets/impact_{{impact.impactType}}.png">
    </div>
</div>
