<h3><img class="impact-icon impact-icon-large" src="assets/impact_{{ngDialogData.impactType}}.png"> {{ngDialogData.viewerTitle}}</h3>

<dashboard-notes-viewer notes-id-arr="ngDialogData.notesIds"></dashboard-notes-viewer>
