<div class="interaction-comments">
    <textarea ng-show="!isSaving"
              ng-model="commentText"
              at-mentions="commentAtMentions"
              rows="5"
              cols="32"></textarea>

    <button ng-click="saveComment()" ng-show="!isSaving" ng-disabled="commentText === ''" translate>Add comment</button>

    <div class="interaction-comments-saving loadingIndicator" ng-if="isSaving"></div>
</div>
