<span class="keywords-list">
  <span class="keywords-list-keyword" ng-repeat="keyword in keywords track by keyword.id">
    {{keyword.name}}<subscription-eye ng-if="enableEye" type="'keywords'" target="',' + keyword.id + ','" target-description="keyword.name"></subscription-eye><span ng-if="!$last">,</span>
  </span>
</span>
