<h3 translate>Notes for {{ngDialogData.sourceName}}</h3>

<dashboard-notes keyword-id="ngDialogData.keywordID"
                 enable-keywords="true"
                 show-search="ngDialogData.notesOptions.showSearch"
                 limit-to="ngDialogData.notesOptions.limitTo ? ngDialogData.notesOptions.limitTo : 100"
                 show-new="ngDialogData.notesOptions.showNew === 'bottom' ? 'bottom' : 'top'"
                 status-filter="ngDialogData.notesOptions.statusFilter"
                 show-status-filter="ngDialogData.notesOptions.showStatusFilter"
                 show-keyword-filter="ngDialogData.notesOptions.showKeywordFilter"
                 show-more="ngDialogData.notesOptions.showMore"
                 show-impacts="ngDialogData.notesOptions.showImpacts"
                 impacts-risk-category="ngDialogData.notesOptions.impactsRiskCategory"
                 impacts-risk-category-description="ngDialogData.notesOptions.impactsRiskCategoryDescription"
                 source-link="{{ngDialogData.sourceLink}}"
                 call-on-change></dashboard-notes>
