<h2 translate>Remove note</h2>

<div ng-if="!ngDialogData.savedAndForeign">
    <p translate>Are you sure you want to permanently remove this note?</p>

    <p>
        <button class="button-confirm" ng-click="ngDialogData.doRemove()" translate>Delete Note</button>
        <button class="button-cancel" ng-click="closeThisDialog()" translate>Cancel</button>
    </p>
</div>

<div ng-if="ngDialogData.savedAndForeign">
    <p translate>This note is linked to other keywords than the one for this view. It may thus also be displayed elsewhere in the Dashboard. Do you want to remove the note globally from the database or do you just want to unlink the keywords so that it will no longer be displayed here?</p>

    <p>
        <button class="button-confirm" ng-click="ngDialogData.doUnlink()" translate>Just Unlink Keywords</button>
        <button class="button-confirm" ng-click="ngDialogData.doRemove()" translate>Delete Note Everywere</button>
        <button class="button-cancel" ng-click="closeThisDialog()" translate>Cancel</button>
    </p>
</div>
