<div class="object-explorer-mapping">
    <div class="error" ng-if="errMessage" >{{errMessage | translate}}</div>

    <div class="loadingIndicator" style="width: 100px; height: 100px;" ng-show="loading" translate>Loading...</div>

    <div ng-if="showGrid" ui-grid="mappingGridOptions" class="objectGrid" ui-grid-resize-columns></div>
</div>


