<div class="object-explorer-table">
  <div class="error" ng-if="errMessage" >{{errMessage | translate}}</div>

  <div class="loadingIndicator" style="width: 100px; height: 100px;" ng-show="loading" translate>Loading...</div>

  <div ng-if="showGrid" ui-grid="objectGridOptions" class="objectGrid" ui-grid-resize-columns></div>
</div>

