<div class="subscription-eye">
    <div ng-if="isLoading || isUpdating" class="subscription-eye-loading loadingIndicatorSmall"></div>
    <i ng-if="isActive && !isLoading && !isUpdating" class="fa fa-eye icon-as-button subscription-eye-active" title="{{ 'Subscribed to' | translate }} &quot;{{ targetDescription }}&quot;; {{ 'click to unsubscribe' | translate }}" ng-click="triggerSubscription()"></i>
    <i ng-if="!isActive && !isLoading && !isUpdating" class="fa fa-eye icon-as-button subscription-eye-inactive" title="{{ 'Click to subscribe to' | translate }} &quot;{{ targetDescription}}&quot;" ng-click="triggerSubscription()"></i>
</div>

