<div ng-if="currentLanguage === 'en'">
  <img src="assets/logo.png" style="float:right;margin:0 20px 0 20px; width: 20%; max-width: 800px;" alt="The Dashboard Logo">

  <p class="page-intro-text"><b>The Dashboard</b> is a framework for Continuous Assurance methodology as <a href="https://na.theiia.org/standards-guidance/recommended-guidance/practice-guides/Pages/GTAG3.aspx">defined by the Institute of Internal Auditors</a>. It supports Ongoing Risk and Control Assessments through a systematic process of displaying data and gathering audit results.</p>

  <p class="page-intro-text">More information and documentation is available on our <a href="https://www.the-dashboard.ch/" target="_blank">website</a>.</p>
</div>

<div ng-if="currentLanguage === 'de'">
  <img src="assets/logo.png" style="float:right;margin:0 20px 0 20px; width: 20%; max-width: 800px;" alt="Das Dashboard-Logo">

  <p class="page-intro-text"><b>The Dashboard</b> bietet einen strukturierten Rahmen für Continuous Assurance gemäss den <a href="https://na.theiia.org/standards-guidance/recommended-guidance/practice-guides/Pages/GTAG3.aspx">Empfehlungen des Institute of Internal Auditors (IIA)</a>. Die Applikation unterstützt Ongoing Risk und Ongoing Control Assessments mit einem systematischen Prozess zur Aufbereitung der Daten und dem Erheben der Audit-Ergebnisse.</p>

  <p class="page-intro-text">Unsere <a href="https://www.the-dashboard.ch/" target="_blank">Webseite</a> enthält weitere Informationen und eine detaillierte Dokumentation.</p>
</div>
