<h2 translate>Send Feedback</h2>

<form name="feedbackForm">
  <p>
    <i ng-class="[ 'fa', 'fa-smile-o', (feedbackSmiley === 'smile' ? 'feedback-smiley-active' : 'feedback-smiley-inactive'), 'icon-as-button' ]" title="{{ 'Mark feedback as positive (I like this!)' | translate }}" ng-click="feedbackSmiley = 'smile'"></i>
    <i ng-class="[ 'fa', 'fa-frown-o', (feedbackSmiley === 'frown' ? 'feedback-smiley-active' : 'feedback-smiley-inactive'), 'icon-as-button' ]" title="{{ 'Mark feedback as negative (This annoys me!)' | translate }}" ng-click="feedbackSmiley = 'frown'"></i>
  </p>

  <textarea ng-model="feedbackText" rows="6" cols="50"></textarea>

  <p translate><b>Note:</b> The feedback above will be sent together with a screenshot of the current dashboard view and the dashboard URL you are currently on. It will be stored unencrypted and can be retrieved by other Dashboard users.</p>

  <button ng-click="ngDialogData.sendFeedback(feedbackText, feedbackSmiley)" translate>Send Feedback</button>
</form>
