<img src="assets/logo.png" style="float: right; width: 20%; max-width: 800px;" alt="The Dashboard Logo">

<p class="page-intro-text" translate>Welcome to The Dashboard. Please select the Continuous Assurance module you want to use on the navigation bar at the top of this page.</p>

<dashboard-news-feed allow-more="true"></dashboard-news-feed>
