<h1 translate>Administration - Dashboard Views</h1>

<div><input type="checkbox" ng-model="onlyActive"> <span translate>Show only active nodes</span></div>

<script type="text/ng-template"  id="tree_item_renderer.html">
  <a ng-if="data.hasDashboard" ui-sref="admin.dashboardViews.details({id: data.id})">{{data.title}}</a>
  <span ng-if="!data.hasDashboard">{{data.title}}</span>
  <ul>
    <li ng-repeat="data in data.nodes | filter:filterActive" ng-include="'tree_item_renderer.html'"></li>
  </ul>
</script>


<div class="error-message" ng-show="errMessage" >{{errMessage | translate}}</div>

<div class="loadingIndicator" height="300px" width="500px" ng-show="loading"></div>

<ul ng-show="!loading && !errMessage">
  <li ng-repeat="data in tree | filter:filterActive" ng-include="'tree_item_renderer.html'"></li>
</ul>
