<h1 translate>Administration - Datafiles</h1>

<ul class="admin-datafiles-list">
  <li ng-repeat="datafile in datafilesList | orderBy : 'dataFile'">
   <a ui-sref="admin.datafiles.details({id: datafile.id})">
     <b>{{datafile.dataFile}}</b> ({{datafile.fileName}})
   </a>
  </li>
</ul>

<ul class="admin-datafiles-list">
  <li class="admin-datafiles-list-new">
    <a ui-sref="admin.datafiles.details({id: -1})" translate>
      <b>Add new datafile</b>
    </a>
  </li>
</ul>

