<h1 translate>Administration</h1>

<div class="error" ng-if="errMessage" >{{errMessage | translate}}</div>

<h2 translate>Ongoing Risk Assessment</h2>
<ul>
    <li><a ui-sref="admin.tree" translate>Modify Audit Universe</a></li>
    <li><a ui-sref="admin.dashboardViews" translate>Modify Dashboard Views</a></li>
    <li><a ui-sref="admin.datafiles" translate>Manage Datafiles</a></li>
</ul>


<h2 translate>Ongoing Control Assessment</h2>
<ul>
    <li>(pending)</li>
    <li><a ui-sref="tasks.archive" translate>Archived tasks</a></li>
</ul>

<hr>

<span ng-if="userIsSiteAdmin">
    <h2 translate>System Administration</h2>
    <ul>
        <li><a ui-sref="admin.loadLoadfile" translate>Load loadfiles into SharePoint database</a></li>
        <li><a ui-sref="admin.exportLoadfile" translate>Export SharePoint lists in loadfile format</a></li>
    </ul>
</span>

