/* Nicely formatted axes */
.axis path, .axis line {
  fill: none;
  stroke: #999;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.tick {
  font: 10px sans-serif;
}


/* Line charts */
.chartLine {
     fill: none;
     stroke-width: 2px;
}


/* Hidden attributes */
.hidden {
  display: none;
}

/* Faded graph parts */
.faded {
  opacity: 0.2;
  filter: saturate(60%);
}

/* Cursors / Focus */
.focus text {
  text-anchor: end;
  font: 10px sans-serif;
  font-weight: bold;
  background-color: #ffffff;
}

.focus rect {
  fill: rgba(255, 185, 88, 0.6);
  stroke: none;
}

.cursor line {
  fill: none;
  stroke: lightgrey;
  opacity: 0.7;
  shape-rendering: crispEdges;
}

/* Brushes */
.brush .extent {
  stroke: rgba(255, 185, 88, 0.9);
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

/* Circle that highlights existing notes */
.notes-circles {
  fill: red;
}


/* Sparkline charts */
.sparkline-chart {
  margin-top: 3px;
  margin-bottom: 3px;
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
}

.sparkline-path {
  fill: none;
  stroke-width: 1px;
  stroke: #000894;
}


/* Mouseover for bar charts */
.mouseover-box {
  fill: white;
  fill-opacity: .250;
  pointer-events: none;
}

.mouseover-text {
  text-anchor: middle;
  pointer-events: none;
}

.layer rect {
  stroke: white;
  stroke-width: 2px;
}

/* Bars with notes are shown differently */
.layer rect.bar-has-notes {
  stroke: red;
  stroke-width: 2px;
}


/* charts slider */
.chart-slider {
  width: 220px;
  position: absolute;
  margin-top: -40px;
  left: 900px;
  margin-left: 5%;

  text-align: left;
  font-size: 9pt;
}

.chart-slider input[type=range] {
  width: 180px;
  vertical-align: middle;
  display: inline;
  margin: 0;
  padding: 0;
}

.chart-slider input[type=range]::-ms-tooltip {
  display: none;
}




/* Scatterplot formats */
.scatterplot-faded-out {
  opacity: 0.1;
  pointer-events: none;
}

.scatterplot-has-notes {
  stroke: red;
  stroke-width: 2px;
}

.axis-label {
  text-anchor: middle;
}



/* portfolio chart formats */
.portfolio-chart-faded-out {
  opacity: 0.1;
  pointer-events: none;
}

.portfolio-chart-has-notes {
  stroke: red;
  stroke-width: 2px;
}

.axis-label {
  text-anchor: middle;
}

.portfolio-chart-line {
  stroke-dasharray: 4px, 2px;
}

.portfolio-division-line {
  fill: none;
  stroke: #666666;
  stroke-width: 1px;
  stroke-dasharray: 1px, 1px;
  opacity: 0.4;
  shape-rendering: crispEdges;
}

.portfolio-division-text {
  fill: #666666;
  text-anchor: middle;
}

.brush-svg .portfolio-division-text {
  font-size: 8pt;
}


/* Mouseover for scatterplot charts */
.scatterplot-mouseover-box {
  fill: white;
  fill-opacity: .40;
  pointer-events: none;
}

.scatterplot-mouseover-text {
  text-anchor: start;
  pointer-events: none;
}


/* Mouseover for portfolio charts */
.portfolio-chart-mouseover-box {
  fill: white;
  fill-opacity: .40;
  pointer-events: none;
}

.portfolio-chart-mouseover-text {
  text-anchor: start;
  pointer-events: none;
}


/* Table chart formats */
.table-chart {
  width: 100%;
  padding: 5px;
  border-collapse: collapse;
  text-align: center;
  font-size: 9pt;
}

.table-chart th {
  background-color: black;
  color: #fff;
  font-variant: small-caps;
  border: 1px solid white;
  text-align: left;
  padding: 4px;
}

.table-chart th a {
  color: white;
}

.table-chart td {
  text-align: center;
  height: 40px;
}

.table-chart td.table-chart-header-column {
  text-align: left;
  font-weight: bold;
}

.table-chart-has-notes {
  border: 2px solid red;
}
