<p class="page-intro-text" translate>This is your personal <b>profile</b>. Here you can modify how you want The Dashboard to work specifically for you.</p>

<div class="profile-main">
    <div class="error" ng-if="errMessage" >{{errMessage | translate}}</div>

    <div class="loadingIndicator" style="height: 100px; width: 600px;" ng-show="isLoading" translate>Loading your profile...</div>

    <div class="loadingIndicator" style="height: 100px; width: 600px;" ng-show="isSaving" translate>Saving your changes...</div>

    <div class="info-message" style="width: 600px;" ng-show="hasSaved" translate>Your changes have been saved!</div>

    <form name="settingsForm">
    <table class="profile-settings-table">
        <tbody>
        <tr>
            <td translate>Language</td>
            <td><select ng-options="key as value for (key, value) in availableLanguages" ng-model="settings.language" ng-change="changeLanguage()"></select></td>
        </tr>
        <tr>
            <td translate>Automatically watch notes created by you</td>
            <td>
                <select ng-model="settings.watchNewNote">
                 <option value="yes" translate>Yes</option>
                 <option value="no" translate>No</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>

    <div><button ng-click="saveProfile()" ng-disabled="isLoading || isSaving || settingsForm.$pristine" translate>Save changes</button></div>
    </form>
</div>
