<div class="interaction-sidebar">
  <div class="interaction-sidebar-close">
    <i class="fa fa-times icon-as-button" title="{{ 'Close sidebar' | translate}}"
       ng-click="data.closeSidebar()"></i>
  </div>

  <div class="interaction-sidebar-title">
      {{data.targetDescription}}
  </div>

  <interaction-list target-type="data.targetType"
                    target-id="data.targetId"
                    target-description="data.targetDescription"
                    limit="data.limit"
                    sort-old-to-new="data.sortOldToNew"
                    allow-more="data.allowMore"
                    enable-new="data.enableNew"
                    source-url="data.sourceUrl"
   >
</div>
